---
import Layout from "../layouts/Layout.astro";
import DMCards from "../components/DMCards.astro";
import PLCards from "../components/PLCards.astro";
---

<Layout titel="Forside">
  <PLCards />
  <DMCards><h2>Specielt til dig</h2></DMCards>
  <DMCards><h2>Se indhold, som er udvalgt til dig</h2></DMCards>
</Layout>
