---
import Card from "./Card.astro";
import Btn from "./Btn.astro";
---

<h1>Min Første Astro side</h1>
<Btn variant="primary" size="small">KNAP HER</Btn>
<Btn>ANDEN KNAP HER</Btn>
<h2>test</h2>
<Card header="overskrift" beskrivelse="beskrivelse"><p>slot tekst her</p></Card>
<Card header="overskrift1" beskrivelse="beskrivelse1" />
<Card header="overskrift2" beskrivelse="beskrivelse2" />
<h2>test 2</h2>
