---
import DMCard from "./DMCard.astro";
---

<div class="DMCards">
  <h2>Specielt til dig</h2>
  <div class="Cards">
    <DMCard
      DMnr="01"
      artist="KESI"
      album="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      color="aqua"
    />
    <DMCard
      DMnr="02"
      artist="Gilli"
      album="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
      color="yellow"
    />
    <DMCard
      DMnr="03"
      artist="Benal"
      album="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
      color="red"
    />
    <DMCard
      DMnr="04"
      artist="Post Malone"
      album="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
      color="aqua"
    />
    <DMCard
      DMnr="05"
      artist="Lady Gaga"
      album="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
      color="yellow"
    />
    <DMCard
      DMnr="06"
      artist="Drake"
      album="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill"
      color="red"
    />
  </div>
</div>

<style>
  .DMCards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 1rem;
    color: whitesmoke;
  }
  .Cards {
    display: flex;
    gap: 1.5rem;
  }
</style>
